
/***********ID SELECTORS*********/
#title{


}
#feature{

}
#features{

 background-color:	#f9f9f9;
 margin-top: 150px;

}
#testimonials{

t
  color: #fff;
}
#BDA-history-para{
  background-color: 	#f9f9f9;

}
#pricing{
/* padding: 100px;*/
text-align: center;
background-color: #f9f9f9;
}
#cta{
  background-color:#fff;
  height: 500px;

}
#footer{
color: #fff;
background-color: #0061a8;
height: 55px;
}

#icon-1{
  height:100px;
  margin-top: 5%;
  l
}
#icon-2{
  height:100px;
  margin-top: -442px;
  padding-left: 850px;
margin-bottom: 900px;

}
/***********TAG SELECTORS*********/
h2{

}
h1{

text-align: center;
}
body{
  font-family:serif"Montserrat";

}
 h3{
   text-align: center;
 }
 p{
   color: #8f8f8f;
   text-align: center;
   margin-left: 30%;
   margin-right: 30%;
   margin-top: 2%;
      margin-bottom: 50px;
   color: Black;

 }
/***********class selectors************/
.text{
  color:#0d71ad;
  text-align: center;
  margin-top: -90px;
}
.text-2{
  color:#0d71ad;
  text-align: center;
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	

.card{
border: none;
}
.info-2{
  padding-left: 850px;
  margin-top: -874px;
}
.info{
color:grey;
margin-top: 2%;
}
.navbar{
  padding:0 0 4.5rem;
}


.mission{
  padding-left: 25%;
  margin-top: 100px;

}


.info-p-2{
padding-left: 850px;
font-size: 1.1rem;
text-align: center;
margin-top: -278px;
}
.info-p{
padding-right: 850px;
font-size: 1.1rem;
text-align: center;
}
.cta-text{
  font-size: 3.5rem;
  text-align: center;
  font-family:serif "Montserrat-Black";
  font-weight: 900;
padding: 2%;
color: #fff;
line-height: 1.5;
}
.container-fluid{
  padding: 3% 15% ;
}


.nav-item{
  padding: 0 18px;
}
 .nav-link{
   font-size: 1.2rem;
   font-family: serif"Montserrat-Light"
 }

.Download-button{
  margin: 5% 3% 5% 0%;
}


@media (max-width:1248px) {
.hist{
width: 100%;
margin-left:1px;

font-style: normal;
text-align: center;
}
}
@media (max-width:1248px) {
.who{
width: 150%;
margin-left:-100px;
font-style: normal;
text-align: center;
}
}
@media (max-width:1248px) {
.navbar-brand{
width: 150%;
margin-left:-100px;
font-style: normal;
text-align: center;
}
}
@media (max-width:1248px) {
.feature-box{
font-style: normal;
text-align: center;
width: 100%;

}
}
@media (max-width:1248px) {
.separador{
margin-bottom: 10%;
width: 100%;
}
}

.press-logo{
width: 15%;
margin: 20px 20px 50px;
}
.pricing-column{
  padding: 2% 3%;
}
.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem
}
.icon:hover{
  color: #ff4c68;
}
.carousel-item{


}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-button{

}
